@import "../../../styles/variable.scss";

.btn {
  margin: 0;
  padding: 8px 16px;
  border: none;
  outline: none;
  font: {
    family: "RobotoLight", sans-serif;
    weight: 400;
    size: 16px;
  };
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  user-select: none;
}

.disabledBtn {
  margin: 0;
  padding: 8px 16px;
  border: solid 1px $color-blue;
  border-radius: 2px;
  outline: none;
  font-family: "RobotoLight", sans-serif;
  color: inherit;
  background-color: transparent;
  user-select: none;
  opacity: 0.5;
  cursor: none;
}
