@import "../../../styles/variable.scss";

.container {
  @include container;

  .content {
    @include content;

    .contentContainer {
      margin: 0;
      margin-top: 46px;
      display: flex;
      @include pageTitle;

      .editing {
        margin-right: 200px;

        .formContainer {
          margin-top: 50px;

          .formItem:not(:first-child) {
            margin-top: 25px;
          }
        }
      }

      .rightsGroopContainer {
        width: 700px;

        .rigths {
          .checkboxContainer {
            margin-top: 50px;

            .checkboxItem:not(:first-child) {
              margin-top: 20px;
            }
          }
        }

        .group {
          margin-top: 25px;

          .groupForm {
            margin-top: 32px;
          }
        }
      }
    }

    .btnContainer {
      margin-top: 50px;

      .btnFooter {
        height: 40px;
        border-radius: 2px;
        font: {
          family: Poppins, sans-serif;
          weight: 400;
          size: 16px;
        };
      }
    }
  }
}

.heading {
  margin: 0;
  @include pageTitle;
}

.formItem {
  margin: 0;
  @include inputLabelForm;

  .inp {
    @include inputForm;
  }
}
