@import "../../../styles/variable";

.checkboxContainer {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  .hintText {
    margin: 0;
    font: {
      family: RobotoLight, sans-serif;
      weight: 400;
      size: 14px;
    };
    color: #7E7E7E;
  }

  @media (max-width: 720px) {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
  }

  @media (max-width: 420px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 16px;
  }
}

