.inputContainer {
  display: flex;
  gap: 8px;
  flex: 1;

  .inputNumber {
    max-width: 134px;

    input {
      border-radius: 2px;
      height: 40px;
      pointer-events: none;
    }
  }

  .inputSearch {
    flex: 1;
    max-width: 883px;

    input {
      border-radius: 2px;
      height: 40px;
      pointer-events: none;
    }
  }

  @media (max-width: 720px) {
    width: 100%;
      .inputNumber {
        min-width: unset;
      }

      .inputSearch {
        min-width: unset;
        width: 100%;
      }
  }

  @media (max-width: 420px) {
    flex-direction: column;

    .inputNumber {
      max-width: 400px;
      width: 100%;
    }
  }
}
