@import "../../../styles/variable.scss";

.layout {
  bottom: 0;
  position: fixed;
  width: 100%;

  .sider {
    z-index: 2;
    flex: 1 !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
