@import "../../../styles/variable.scss";

.logotip {
  padding: 30px 80px;
}

.container {
  @extend %container;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }

  .page {
    margin: 0;
    font: {
      family: Poppins, sans-serif;
      size: 70px;
      weight: 700;
    };
    color: $color-blue;

    @media (max-width: 1200px) {
      font-size: 55px;
    }

    @media (max-width: 720px) {
      font-size: 35px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
    }

    @media (max-width: 320px) {
      font-size: 19px;
    }
  }

  .btnPage {
    margin-top: 12px;
    margin-left: 50px;
    padding: 7px 15px;
    font: {
      size: 30px;
    };
    padding: 7px 20px;

    @media (max-width: 1200px) {
      margin-left: 30px;
    }

    @media (max-width: 720px) {
      margin: 0;
      margin-top: 20px;
      padding: 3px 10px;
      font-size: 25px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }

    @media (max-width: 320px) {
      font-size: 15px;
    }
  }
}
