@import "../../../styles/variable.scss";

.logotip {
  padding: 30px 80px;
}

.container {
  @extend %container;

  .page {
    margin: 0;
    font: {
      family: Poppins, sans-serif;
      size: 70px;
      weight: 700;
    };
    color: $color-blue;
  }

  .btnPage {
    margin-top: 12px;
    margin-left: 50px;
    padding: 7px 15px;
    font: {
      size: 30px;
    };
  }
}
