@import "../../../styles/variable";

.titleContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .title {
    margin: {
      left: 8px;
      bottom: 21px;
    }
    @include pageTitle;
  }
}
