.tabsContainer {
  margin: 20px 0 30px;

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .tags {
      @media (max-width: 410px) {
        margin-right: -40px;
      }
    }

    p {
      font-size: 23px;
      line-height: 20px;
      color: #434343;
      margin: 10px;

      @media (max-width: 540px) {
        font: {
          size: 16px;
        };
      }
    }
  }
}
