@import "../../../styles/variable";

.sliderSmall {
  @include sliderSmallStyles;
}

.contentMod {
  margin-bottom: 30px;

  .inp {
  }
}

.container {
  @include container;

  @media (max-width: 430px) {
    @include sliderSmallContent;
  }

  .slider {
    @media (max-width: 430px) {
      display: none;
    }
  }

  .content {
    @include content;

    @media (max-width: 768px) {
      padding-left: 110px;
    }

    @media (max-width: 430px) {
      padding: {
        left: 10px;
        right: 10px;
      }
    }

    .headerContainer {
      @media (max-width: 430px) {
        display: none;
      }
    }

    .infContainer {
      @include infContainerTable;

      @media (max-width: 675px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      .filterContainer {
        display: flex;
        gap: 10px;
      }
    }

    .table {
      margin-top: 17px;
      overflow: {
        x: auto;
        y: hidden;
      }
      flex: 1;
      table {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
      }
    }
  }
}

.contentModal {
  margin: 0;
}

.modal {
  @media (max-width: 430px) {
    display: none;
  }
}

.modal430 {
  @media (max-width: 3000px) {
    display: none;
  }

  @media (max-width: 430px) {
    display: block;
  }
}
