@import "../../../styles/variable.scss";


.contentMod {
  margin-bottom: 30px;

  .inp {
    @include inputForm
  }
}

.container {
  @include container;

  .content {
    @include content;

    .infContainer {
      @include infContainerTable;
    }

    .table {
      margin-top: 17px;
      overflow: {
        x: auto;
        y: hidden;
      }
      flex: 1;
      table {
        border: 1px solid rgba(0, 0, 0, 0.20);
        border-radius: 0;
      }
    }


    @media (max-width: 720px) {
      padding: 16px;
    }
    @media (max-width: 420px) {
      margin: 0;
    }
  }
}

.contentModal {
  margin: 0;
}
