.tableContainer {
  margin-top: 17px;
  overflow: {
    x: auto;
    y: hidden;
  }
  flex: 1;

  @media (max-width: 430px) {
    margin-bottom: 65px;
  }

  .table {
    table {
      border: 1px solid rgba(0, 0, 0, 0.20);
      border-radius: 0;

      tr {
        cursor: pointer;
      }
    }
  }
}
