@import "../../../styles/variable";

.content {
    max-width: 800px;

    .nameDirection {
        .name {
            margin: 0;
            @include pageTitle;
        }

        .date {
            margin: 0;
            margin-top: 20px;
            font: {
            family: RobotoRegular, sans-serif;
            weight: 400;
            size: 16px;
            };
            color: $color-gray-43;
        }
    }

    .column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .infContent {
            .row {
                display: flex;
                flex-direction: row;
                margin-top: 38px;

                .rowText {
                    flex: 0 0 45%;
                    margin: 0;
                    font: {
                        family: Poppins, sans-serif;
                        weight: 600;
                        size: 20px;
                    };
                    color: rgba($color-gray-43, 0.8);
                }

                .rowInf {
                    margin: 0;
                    font: {
                        family: Poppins, sans-serif;
                        weight: 600;
                        size: 20px;
                    };
                    color: $color-black-22;
                }
            }
        }
    }
}

.btnContainer {
    @include btnContainer;

    .btnFooter {
        @include btnFooter;
    }
}