@import "../../../styles/variable";

.headerDirectionPage {
    display: flex;
    justify-content: space-between;
}

.directionsPage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
}

.directionsPage:last-child {
  padding-bottom: 65px;
}
