@import "../../../styles/variable";

@mixin textDirectionItem {
    margin: 0;
    font: {
        family: Poppins, sans-serif;
        weight: 600;
    }
    color: $color-gray-43-80;
}

.directionItem {
    border: 1px solid #00000033;
    border-radius: 8px;
    padding: 20px;
    width: 420px;
    cursor: pointer;;

    .headerDirectionItem {
        display: flex;
        margin-bottom: 20px;

        .nameDirection {
            @include textDirectionItem;
            margin-left: 20px;
            font-size: 20px;
        }
    }

    .descrDirectionItem {
        .titleDescr {
            @include textDirectionItem;
            font-size: 16px;
        }

        .textDescr {
            @include textDirectionItem;
            margin-top: 10px;
            font: {
                weight: 500;
                size: 14px;
            }
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .expertsList {
        margin-top: 20px;

        .titleExperts {
            @include textDirectionItem;
            font-size: 16px;
        }

        .textExperts {
            @include textDirectionItem;
            margin-top: 10px;
            font: {
                weight: 500;
                size: 14px;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
