@import "../../../styles/variable.scss";

.card {
  max-width: 450px;
  border: 3px solid $color-pule-purple;
  padding: 20px 50px 20px 20px;

  .title {
    margin: 0;
    font: {
      family: Poppins, sans-serif;
      weight: 600;
      size: 20px;
    };
  }

  .numberInitiative {
    margin: 0;
    margin-top: 10px;
    font: {
      family: Poppins, sans-serif;
      weight: 500;
      size: 16px;
    };
    color: rgba($color-black, 0.4);
  }

  .statisticsContent {
    display: flex;

    .infContent {
      margin-top: 40px;
      width: 164px;

      .infContentItem {
        display: flex;

        .btnStatic {
          margin-top: 16px;
          width: 17px;
          height: 11px;
          border-radius: 2px;
          border: none;
        }

        .textStatic {
          margin-left: 10px;
          font: {
            family: Poppins, sans-serif;
            weight: 500;
            size: 14px;
          };
          color: rgba($color-black, 0.5);

          .strong {
            color: $color-black;
          }
        }
      }
    }

    .progress {
      margin: {
        left: 75px;
      };
    }

    .doughnut {
      width: 200px;
      height: 200px;
    }
  }
}
