@import "../../../styles/variable.scss";

.container {
  @extend %container;

  .form {
    @extend %form;

    .content {
      .title {
        font-size: 20px;
      }

      .text {
        margin: 0;
        color: $color-black-gray;
      }

      .input {
        margin-top: 8px;
      }
    }

    .btnBlue {
      margin-top: 16px;
      display: inline-block;
    }

    .btnRepeatCode {
      margin: 0;
      margin-top: 6px;
      font-size: 12px;
      color: $color-black-gray;
    }
  }
}