@import "../../../styles/variable.scss";

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .content {
    position: relative;
    margin: {
      top: 30px;
      left: 70px;
      right: 70px;
    };
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    .headerContainer {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nameInitiative {
        margin: 0;
        font: {
          family: RobotoMedium, sans-serif;
          weight: 600;
          size: 32px;
        };
      }

      .btnHeader {
        display: flex;
        flex-direction: row;

        .likesContainer {
          display: flex;
          flex-direction: row;
          margin-right: 30px;

          .numberLikes {
            margin: 0;
            margin-top: 9px;
            font: {
              family: RobotoRegular, sans-serif;
              weight: 400;
              size: 14px;
            };
          }

          .btnLike {
            margin-right: 18px;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }

    .data {
      margin: 0;
      margin-top: 10px;
      font: {
        family: RobotoRegular, sans-serif;
        weight: 400;
        size: 16px;
      };
      color: $color-gray-43;
    }
  }

  .column {
    display: flex;
    flex-direction: row;

    .row {
      .rowText {
        margin: 0;
        margin-top: 30px;
        font: {
          family: RobotoRegular, sans-serif;
          weight: 600;
          size: 20px;
        };
        color: rgba($color-gray-43, 0.8);
      }

      .rowInf {
        margin: 0;
        margin: {
          top: 30px;
          left: 91px;
        };
        font: {
          family: RobotoRegular, sans-serif;
          weight: 600;
          size: 20px;
        };
        color: $color-black-22;
      }
    }
  }

  .commentContainer {
    .comment {
      margin: 0;
      margin-top: 40px;
      font: {
        family: RobotoRegular, sans-serif;
        weight: 600;
        size: 20px;
      };
      color: rgba($color-gray-43, 0.8);
    }
  }

  .avatarContainer {
    margin-top: 30px;

    .avatar {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;

      .userImg {
        margin-right: 11px;
      }

      .infComment {
        .name {
          margin: 0;
          font: {
            family: RobotoMedium, sans-serif;
            weight: 500;
            size: 16px;
          };
        }

        .date {
          margin: 0;
          font: {
            family: RobotoRegular, sans-serif;
            weight: 300;
            size: 14px;
          };
          color: rgba($color-black, 0.4);
        }

        .commentText {
          margin: 0;
          margin-top: 8px;
          font: {
            family: RobotoRegular, sans-serif;
            weight: 400;
            size: 18px;
          };
          color: rgba($color-black, 0.85);
        }
      }
    }
  }

  .btnContainer {
    position: sticky;
    bottom: 0;
    margin-top: 25px;
    padding: 20px 20px;
    box-shadow: 1px 20px 40px 0 #0000001A;
    background-color: $color-white;
    border-radius: 8px;

    .btnFooter {
      padding: 8px 16px;
      font: {
        family: RobotoRegular, sans-serif;
        weight: 400;
        size: 16px;
      };
    }
  }
}
