@import "../../../styles/variable.scss";

.container {
  @extend %container;

  .form {
    min-width: 572px;
    @extend %form;

    .content {
      .title {
        font-size: 32px;
      }
    }

    .formItems {
      margin: 0;
      margin-top: 18px;

      .label {
        text-align: left;
      }
    }

    .containerBtn {
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
    }
  }
}