@import "../../../styles/variable.scss";

.sliderSmall {
  @include sliderSmallStyles;
}

.container {
  @include container;

  @media (max-width: 430px) {
    @include sliderSmallContent;
  }

  .slider {
    @media (max-width: 430px) {
      display: none;
    }
  }

  .content {
    @include content;

    @media (max-width: 768px) {
      padding-left: 110px;
    }

    @media (max-width: 430px) {
      padding: {
        left: 20px;
        right: 20px;
      };
    }

    .headerContainer {
      @media (max-width: 640px) {
        display: none;
      }
    }

    .contentContainer {
      margin-top: 46px;

      @media (max-width: 430px) {
        margin: 0;
      }

      .textHeader {
        margin: 0;
        @include pageTitle;

        @media (max-width: 430px) {
          font-size: 24px;
          text-align: center;
        }
      }

      .inpContainer {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1440px) {
          flex-direction: column;
        }

        .formContainer {
          margin-top: 50px;
          width: 553px;

          @media (max-width: 1440px) {
            width: 553px;
          }

          @media (max-width: 768px) {
            width: auto;
          }

          .formItem:not(:first-child) {
            margin-top: 30px;
          }

          .formItem {
            @include inputLabelForm;

            .inp {
            }

            .formField {
              border-radius: 2px;
            }
          }
        }

        .files {
          width: 553px;
          margin: {
            top: 50px;
            right: 50px;
            left: 50px;
          };

          @media (max-width: 1700px) {
            margin: {
              right: 30px;
              left: 30px;
            };
          }

          @media (max-width: 1440px) {
            margin: 0;
            width: auto;
          }
        }
      }
    }

    .btnContainer {
      margin-bottom: 70px;
      padding: 20px 20px;
      box-shadow: 1px 20px 40px 0 #0000001A;
      background-color: $color-white;
      border-radius: 8px;

      .btnFooter {
        height: 40px;
        border-radius: 2px;
        font: {
          family: RobotoRegular, sans-serif;
          weight: 400;
          size: 16px;
        };
      }
    }
  }
}
