@import "../../../styles/variable.scss";

.container {
  @include container;

  .content {
    @include content;

    .contentContainer {
      margin-top: 46px;

      .textHeader {
        margin: 0;
        @include pageTitle;
      }

      .inpContainer {
        display: flex;

        .formContainer {
          margin-top: 50px;
          width: 553px;

          .formItem:not(:first-child) {
            margin-top: 30px;
          }

          .formItem {
            @include inputLabelForm;

            .inp {
              @include inputForm;
            }

            .formField {
              border-radius: 2px;
            }
          }
        }

        .files {
          width: 553px;
          margin-top: 50px;
          margin-left: 200px;
        }
      }
    }

    .btnContainer {
      position: sticky;
      bottom: 0;
      margin-top: 25px;
      margin-bottom: 20px;
      padding: 20px 20px;
      box-shadow: 1px 20px 40px 0 #0000001A;
      background-color: $color-white;
      border-radius: 8px;

      .btnFooter {
        height: 40px;
        border-radius: 2px;
        font: {
          family: RobotoRegular, sans-serif;
          weight: 400;
          size: 16px;
        };
      }
    }
  }
}
