@import "../../../styles/variable.scss";

.sliderSmall {
  @include sliderSmallStyles;
}

.container {
  @include container;

  @media (max-width: 430px) {
    @include sliderSmallContent;
  }

  .slider {
    @media (max-width: 430px) {
      display: none;
    }
  }

  .content {
   @include content;

    @media (max-width: 768px) {
      padding-left: 110px;
    }

    @media (max-width: 685px) {
      padding: {
        right: 4px;
      };
    }

    @media (max-width: 430px) {
      padding: {
        top: 0;
        left: 10px;
        right: 10px;
      };
    }

    .headerContainer {
      @media (max-width: 640px) {
        display: none;
      }
    }

    .infContainer {
      @include infContainerTable;

      @media (max-width: 430px) {
        display: flex;
        flex-direction: column-reverse;
      }

      .filterContainer {
        display: flex;
        gap: 10px;

        @media (max-width: 1440px) {
          margin-left: 100px;
        }

        @media (max-width: 768px) {
          margin-left: 50px;
        }

        @media (max-width: 430px) {
          margin-left: 0;
        }
      }
    }

    @media (max-width: 420px) {
      margin: 0;
    }
  }

  .sliderSmall {

    @media (max-width: 3000px) {
      display: none;
    }

    @media (max-width: 430px) {
      display: block;
    }
  }
}


.containerIdeas {
  @include container;

  @media (max-width: 511px) {
    overflow-x: hidden;
  }

  .contentIdeas {
    @include content;

    .headerContainer {
      @media (max-width: 540px) {
        display: none;
      }
    }

    @media (max-width: 1000px) {
      padding: {
        top: 130px;
        left: 20px;
        right: 20px;
      };
    }

    .header {
      @media (max-width: 720px) {
        padding: {
          top: 115px;
        };
      }

      @media (max-width: 540px) {
        padding: {
          top: 55px;
        };
      }

      .logoHeader {
        margin-top: 50px;
        position: absolute;
        top: 12.5px;
        left: 24px;

        @media (max-width: 540px) {
          margin-top: 0;
        }
      }

      .tabs {
        margin-right: auto;
        margin-left: auto;
      }
    }

    .infContainer {
      @include infContainerTable;

      .searchBar {
        margin-right: 20px;

        @media (max-width: 630px) {
          margin-right: -7px;
        }
      }

      .btnHead {
        display: flex;
        gap: 20px;

        @media (max-width: 738px) {
          gap: 10px;
        }

        @media (max-width: 540px) {
          gap: 5px;
        }

        @media (max-width: 378px) {
          display: flex;
          flex-direction: column;
          gap: 0;
        }

        .btnContainerFilt {
          display: flex;
          gap: 20px;

          @media (max-width: 738px) {
            gap: 10px;
          }

          @media (max-width: 540px) {
            gap: 5px;
          }
        }

        .btnContainer {
          @media (max-width: 378px) {
            display: flex;
            margin: 0;
            padding: 0;
          }
        }
      }

      @media (max-width: 540px) {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
      }
    }

    .table {
      margin-top: 17px;
      overflow: {
        x: auto;
        y: hidden;
      }
      flex: 1;
      table {
        border: 1px solid rgba(0, 0, 0, 0.20);
        border-radius: 0;
      }
    }


    @media (max-width: 720px) {
      padding: 16px;
    }
    @media (max-width: 420px) {
      margin: 0;
    }
  }
}

