@import "../../../styles/variable.scss";

.infContainer {
  @include infContainerTable;

  .searchBar {
    margin-right: 20px;

    @media (max-width: 630px) {
      margin-right: -7px;
    }
  }

  .btnHead {
    display: flex;
    gap: 20px;

    @media (max-width: 738px) {
      gap: 10px;
    }

    @media (max-width: 540px) {
      gap: 5px;
    }

    @media (max-width: 378px) {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .btnContainerFilt {
      display: flex;
      gap: 20px;

      @media (max-width: 738px) {
        gap: 10px;
      }

      @media (max-width: 540px) {
        gap: 5px;
      }
    }

    .btnContainer {
      @media (max-width: 378px) {
        display: flex;
        margin: 0;
        padding: 0;
      }
    }
  }

  @media (max-width: 540px) {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }
}

.table {
  margin-top: 17px;
  overflow: {
    x: auto;
    y: hidden;
  }
  flex: 1;
  table {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 0;
  }
}

